.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1C1C21;
    height: 88px;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo p {
    margin-left: 9px;
}

.header__orders {
    display: flex;
    align-items: center;
    margin-left: 49px;
}

.header__orders p {
    margin-left: 9px;
    color: #8585AD;
}

.header__auth {
    display: flex;
    align-items: center;
}

.header__auth p {
    margin-left: 11px;
    color: #8585AD;
}

.header__left {
    display: flex;
    align-items: center;
}
