body {
  margin: 0;
  font-family: 'JetBrainsMono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/JetBrainsMono/JetBrainsMono-Bold.woff") format("woff");
}

@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/JetBrainsMono/JetBrainsMono-Regular.woff") format("woff");
}
